<?xml version="1.0" encoding="utf-8"?>
<!--
Web.config file for QuerySuggestionModule.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime executionTimeout="6000" targetFramework="4.5" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ianroldanstorage;AccountKey=swLDHUV38PJ/NOMWdhtjxSUtnwtsFSTKq/LTp4Fjo+gg5PcB6fCGCOc4m4CW2kq8PsgDG4AYDTFj0PJh9Cw2Hg==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>